<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RecuperarContrasena</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main">
    <div class="container">
      <h1>Recuperar contraseña</h1>
      <div class="usuario">
        <div class="item label">
          <ion-label>Usuario</ion-label>
        </div>
        <div class="item input">
          <ion-input [(ngModel)]="usuario" ></ion-input>
        </div>
      </div>
      <div class="button">
        <ion-button (click)="recuperar()">Recuperar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
