/*
PALETA DE COLORES PRUEBA
#f4e9cd
#9DBEBB
#77aca2
#468189
#031926
*/

.main {
    height: 100%;
    background-color: #9DBEBB;
    justify-content: center;
    align-items: center;
    display: flex;
}

.barra {
    width: 100%;
    height: 58px;
}

.cabecera {
    height: 100%;
}

.container {
    width: 28rem;
    height: 30rem;
    background-color: #ececea;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (min-width: 1500px) {
    .container {
        width: 33rem;
        height: 32rem;
    }
}
  
@media (max-width: 750px) {
    .container {
        width: 63vw;
        height: 50vh;
    }
}

@media (max-width: 430px) {
    .container {
        width: 87vw;
        height: 50vh;
    }
}

@media (max-height: 830px) {
    .container {
        height: 60vh;
    }
}

@media (max-height: 675px) {
    .container {
        height: 70vh;
    }
}


.inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    color: black;
    border-radius: 3%;
    height: 80%;
    width: 80%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    color: black;
}

.container h1 {
    color: #031926;
    font-weight: 600;
    font-size: clamp(25px, 4vw, 30px);

}

.usuario {
    font-size: clamp(10px, 4vw, 15px);
}

.button {
    display: flex;
    justify-content: center;
}

.recuperar {
    --background: #77aca2;
    font-size: clamp(10px, 4vw, 15px);
}