.elements{
    display: flex;
    justify-content: space-between;
}

.fondo {
    height: 100%;
    background-color: #9DBEBB;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cabecera {
    height: 100%;
}

.barraContenedor{
    display: flex;
}

.barra{
    width: 100%;
    height: 58px;
}

.bienvenida {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    color: black;
}

.bienvenida h1{
    color: #031926;
    font-weight: 600;
}

.contenedor {
    width: 85vh;
    height: 75vh;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {

    /* Cambia el tamaño según lo que necesites */
    .contenedor {
        flex-direction: column;
        height: 90vh;
        /* Orientación horizontal: uno al lado del otro */
    }
}

.menu {
    padding: 3rem;
    border-radius: 15px;
    background-color: #ececea;
    height: 25rem;
}

.tiempo{
    display: flex;
    justify-content: end;
    
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.bt {
    margin-top: 20px;
}

.cerrar{
    --background:#468189;
}

.principal{
    --background:#77aca2;
}

// DISEÑO CODIGO QR

.qr{
    padding: 2rem;
    border-radius: 15px;
    background-color: #000000;
    height: 25rem;
}