/*
PALETA DE COLORES PRUEBA
#f4e9cd
#9DBEBB
#77aca2
#468189
#031926
*/

.fondo{
  height: 100%;
  background-color: #9DBEBB;
  justify-content: center;
  align-items: center;
  display: flex;
}

.barra{
  width: 100%;
  height: 58px;
}

.cabecera {
  height: 100%;
}

#container {
  width: 70vh;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.inicio{
  padding: 2rem;
  color: black;
  border-radius: 3%;
  height: 80%;
  width: 80%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #d8d8d8;

  margin: 0;
  
}

#container a {
  text-decoration: none;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  color: black;
}
.titulo h3{
  color: #031926;
  font-weight: 600;
  font-size: clamp(25px, 4vw, 30px);
}

.usuario {
  font-size: clamp(15px, 4vw, 20px);
}

.contrasena {
  font-size: clamp(15px, 4vw, 20px);
}

.item ion-input{
  width: 100%;
}

.item .label{
  display: flex;
  justify-content: flex-start;
}

.titulo{
  display: flex;
  align-content: center;
}

.pato{
  background-color:#f4e9cd;
}

.cancelar{
  --background: #77aca2;
  font-size: clamp(15px, 4vw, 20px)
}

.ingresar{
  --background: #468189;
  font-size: clamp(15px, 4vw, 20px)
}

.recuperar ion-button{
  color: #468189;
  font-size: clamp(10px, 4vw, 15px);
}