<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="inicio">
      <div class="item titulo">
        <h3>
          Iniciar Sesión
        </h3>
      </div>
      <div class="item usuario">
        <div class="label">
          <ion-label>Usuario</ion-label>
        </div>
        <ion-input [(ngModel)]="usuario"></ion-input>
      </div>
      <div class="item contrasena">
        <div class="label">
          <ion-label>Usuario</ion-label>
        </div>
        <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
      </div>
      <div class="item recuperar">
        <ion-button fill="clear" (click)="recuContra()">¿Olvidaste tu contraseña?</ion-button>
      </div>
      <div class="item">
        <div class="botones">
          <ion-button color="danger">Cancelar</ion-button>
          <ion-button color="success" (click)="sigPagina()">Ingresar</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
