<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ConfirmacionAsistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ConfirmacionAsistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  ESTAS VALIDADO MI BUEN AMIGO FELICIDADES
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fevangelion.fandom.com%2Fes%2Fwiki%2FEP26&psig=AOvVaw22zRJ3gOPMTfmu-v9Eb8gs&ust=1732491171628000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLDouNjO84kDFQAAAAAdAAAAABAE" alt="">
</ion-content>
