/*
PALETA DE COLORES PRUEBA
#f4e9cd
#9DBEBB
#77aca2
#468189
#031926
*/
.elements{
    display: flex;
    justify-content: space-between;
}

.cabecera {
    height: 100%;
}

.barraContenedor{
    display: flex;
}

.barra{
    width: 100%;
    height: 58px;
}

.bienvenida {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.bienvenida h4{
    color: #031926;
    font-weight: 600;
}

.fondo {
    height: 100%;
    background-color: #9DBEBB;
    justify-content: center;
    align-items: center;
    display: flex;
}
// =================CONTENEDOR===========================
.contenedor {
    width: 25rem;
    height: 30rem;
    background-color: #ececea;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (min-width: 1500px) {
    .contenedor {
      width: 30rem;
      height: 32rem;
    }
  }
  
  @media (max-width: 750px) {
    .contenedor {
      width: 63vw;
      height: 50vh;
    }
  }
  
  @media (max-width: 430px) {
    .contenedor {
      width: 87vw;
      height: 50vh;
    }
  }
  
  @media (max-height: 830px) {
    .contenedor {
      height: 60vh;
    }
  }
  
  @media (max-height: 675px) {
    .contenedor {
      height: 70vh;
    }
  }

//================================================
.menu {
    padding: 2rem;
    height: 80%;
    width: 80%;
}
.tiempo{
    display: flex;
    justify-content: end;
    
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.bt {
    margin-top: 20px;
}

.cerrar{
    --background:#468189;
}
.principal{
    --background:#77aca2;
}

// Tablas de horarios

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  