/*
PALETA DE COLORES PRUEBA
#f4e9cd
#9DBEBB
#77aca2
#468189
#031926
*/
.elements{
    display: flex;
    justify-content: space-between;
}

.cabecera {
    height: 100%;
}

.barraContenedor{
    display: flex;
}

.barra{
    width: 100%;
    height: 58px;
}

.bienvenida {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    color: black;
}

.bienvenida h1{
    color: #031926;
    font-weight: 600;
}

.fondo {
    height: 100%;
    background-color: #9DBEBB;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contenedor {
    width: 70vh;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu {
    padding: 3rem;
    border-radius: 15px;
    background-color: #ececea;
    height: 25rem;
}
.tiempo{
    display: flex;
    justify-content: end;
    
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.bt {
    margin-top: 20px;
}

.cerrar{
    --background:#468189;
}
.principal{
    --background:#77aca2;
}

// Tablas de horarios

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  